<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Login.html" />
			</files>
		</defaultDocument>
	</system.webServer>
  <connectionStrings>
    <!--桌面程序直接用这个填入数据库文件的路径即可，这里我们放在debug目录下，所有只需要直接写入文件名PartyConstruction.db3-->
    <add name="SQLiteDB" connectionString="Data Source=PartyConstruction.db3"/>
  </connectionStrings>
  <appSettings>
    <!--web程序用下面这种，需要调用Server.Path自己组装连接字符串-->
    <add key="SQLiteString" value="~\bin\PartyConstruction.db3"/>
  </appSettings>
</configuration>
