<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>//这句很重要，且位置必须放在js的引入之后
</head>
<body >
    <div data-role="page">
        <div data-role="header">
            <h1>党建积分考核系统</h1>
        </div>
        <div data-role="main" class="ui-content" style="min-width:250px;max-width:400px;margin:auto auto;">

            <label for="ID">用户名：</label>
            <label id="name"/>
            <label for="password">积分：</label>
            <input type="password" name="password" id="password">
            <label for="ck_rmbUser">记住我</label>
            <input type="checkbox" name="favcolor" id="ck_rmbUser" value="false">
            <input type="submit" data-inline="true" id="login" value="登录">

        </div>
        <div data-role="main" class="ui-content" style="min-width:250px;max-width:400px;margin:auto auto;">


        </div>
    </div>
</body>
</html>